---
layout: archive
permalink: /code_blog/
author_profile: true
future_or_work:
  - image_path: /assets/images/job_automation_index.png
    alt: "skill_dna_of_jobs"
    title: "Job Automation Index"
    excerpt: "A data-driven exploration of the race between human tasks and automation technology."
    url: http://www.jobautomationindex.com/
    btn_class: "btn--primary"
    btn_label: "Learn more"
ml_mngt:
  - image_path: /assets/images/job_automation_index.png
    alt: "skill_dna_of_jobs"
    title: "Job Automation Index"
    excerpt: "A data-driven exploration of the race between human tasks and automation technology."
    url: http://www.jobautomationindex.com/
    btn_class: "btn--primary"
    btn_label: "Learn more"      
---
<h1> Future of Work</h1>
{% include future_or_work %}

<h1> Machine Learning & Management Research </h1>
{% include ml_mngt %}
